*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background:#fbf8f4;
}

body{
    overflow:hidden;
    font-family:'Alexandria',sans-serif;
    background:#fffaf5;
    direction:rtl;
}

/* شاشة التحميل */
#loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:linear-gradient(180deg,#ff1f1f,#ff9900);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.loader-content{
    width:100%;
    max-width:430px;
    text-align:center;
    padding:0 30px;
}

.logo{
    width:140px;
    height:140px;
    object-fit:contain;
    border-radius:35px;
    background:#ffb84d;
    padding:15px;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.loader-content h1{
    margin-top:30px;
    color:white;
    font-size:42px;
    font-weight:800;
}

.loader-content p{
    margin-top:10px;
    color:white;
    font-size:22px;
}

/* شريط التحميل */
.progress-bar{
    width:100%;
    max-width:300px;
    height:8px;
    margin:40px auto 0;
    background:rgba(255,255,255,.4);
    border-radius:50px;
    overflow:hidden;
}

.progress{
    width:0;
    height:100%;
    background:white;
    border-radius:50px;
    animation:loading 3s linear forwards;
}

@keyframes loading{
    from{
        width:0;
    }

    to{
        width:100%;
    }
}

/* الصفحة الرئيسية */
#main-content{
display:none;
max-width:430px;
margin:auto;
min-height:100vh;
background:#fffaf5;
overflow-y:auto;
}

/* الهيدر */

.header{
    height:70px;
    padding:20px;
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #e9e2db;
}


.header-logo{
    width:65px;
    height:65px;
    border-radius:100%;
}

.header-text{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
}


/* اسم المطعم */
.header-text h1{
    font-family:'Cairo',sans-serif;
    color:#ff7a00;
    font-size:26px;
    font-weight:800;
    letter-spacing:.5px;
}

.header-text p{
    color:#888;
    font-size:13px;
    margin-top:-8px;
}

.more-btn{
    border:none;
    background:none;
    font-size:28px;
    color:#999;
}

/* شريط الأقسام */
.categories-wrapper{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px;
     background:#f7f1eb;
}

.arrow-btn{
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    background:#eae7e2;
    color:#777;
    font-size:15px;
    flex-shrink:0;
}

.categories{
    display:flex;
    gap:12px;
    overflow-x:auto;
    scroll-behavior:smooth;
    scrollbar-width:none;
}

.categories::-webkit-scrollbar{
    display:none;
}

.category{
    border:none;
    background:#eae7e2;
    color:#030303;
    font-size:13px;
    font-weight:600;
    padding:11px 20px;
    border-radius:50px;
    white-space:nowrap;
    transition:.3s;

}

.category.active{
    background:#ff7a00;
    color:white;
    box-shadow:
    0 10px 25px rgba(255,122,0,.15);
}


/* ============================================================== قسم الأصناف ========================================================= */

.menu-items{
     display:none;
    background:#fffaf5;
    width:100%;
}

.menu-items.active{
    display:block;
}

.menu-card{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 15px;
    border-bottom:1px solid #ece6df;
}

.menu-card.reverse{
    flex-direction:row-reverse;
}

.item-image{
    width:45%;
    display:flex;
    justify-content:center;
}

.item-image img{
    width:240px;
    max-width:95%;
    object-fit:contain;
}

.item-info{
    width:55%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}


/* اسم الوجبة */
.item-info h3{
    font-family:'Cairo',sans-serif;
    font-size:23px;
    color:#ff7a00;
    margin:0 0 10px;
    font-weight:800;
    line-height:1.2;
}

.item-info p{
    font-size:10px;
    color:#666;
    line-height:1.5;
    margin-bottom:25px;
    max-width:260px;
}

.price-box{

 font-family:'Cairo',sans-serif;
    width:150px;
    height:50px;
    border:2px solid #ff7a00;
    color:#ff7a00;
    font-size:28px;
    font-weight:800;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    background:#fff;
}

